@import "_variables.scss";


footer{
    margin-top: 60px;
    background-color: $footer-bg-color;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.footer-category-title{
    font-size: 1.25em;
    color:$footer-title-color;
}

.footer_item{
    font-size: 1.05em;
    list-style: none;
    line-height: 2em;
    a{
        text-decoration: none;
        color: $footer-link-color;
    }
}
 
.copyright{
    font-size: .75em;
    text-align: center;
}

   
.footer_col_b{
   margin-top: 60px; 
   line-height: 2em;
}    

.footer_col_c{
    margin-top: 60px; 
    line-height: 2em;
 }    


 .social-icons{

    i{
        margin: 5px 0 5px 5px;
        font-size: 1.45em;
        color:$footer-socials-color;
    }
 }