
header{
    padding: 10px 0 10px 0;
}

.header-container{
    text-align: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-end;
    align-items: center;
    min-height:100%;
}

.nav-item{
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $header-font-color;
    font-size: 1.125em;
    margin: 0 15px;

    &:hover{
        color: $header-hover-color;
        span {color: $header-hover-color;}
    }

    span{
        font-size: .75em;
        color: $header-font-color;
        margin-left: 5px;
    }
}

.placeholder-searchbox {
    position: relative;
   margin: 15px 5px;
}

.search-textbox {
    position: relative;
    //padding: 12px 40px 12px 8px;
     padding: 10px 40px 10px 8px;
    border: solid 1px #BBBBBB;
    border-radius: 10px;
    font-size: 1.25em;
    width: 100%;

    &:focus{
        box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
       outline: 0;
    }
}

.logo{
    margin: 0;
    border: 0;
    width :auto;
    height: 25px;
    float: left;
    margin: 20px 10px 20px 10px;
}

.xs-searchbox{
    display: block;
}

.lg-searchbox{
    display: none;
}

.search-bar{
    position: relative;
}

.srch-icon{ 
    position: absolute;
    right: 0;
    top:10px;
    padding: 6px 12px;
    color:#BBBBBB;    
}

@media (min-width: 576px) {
    .xs-searchbox{
        display: block;
    }

    .lg-searchbox{
        display: none;
    }
}


@media (min-width: 768px) {
    .xs-searchbox{
        display: block;
    }

    .lg-searchbox{
        display: none;
    }

    .nav-item{
        font-size: 1.25em;
        //margin: 0 25px;
        margin: 25px 10px 15px 35px;
    
        span{
            font-size: .85em;
        }
    }

    .logo{
        height: 35px;
        margin: 25px 0 15px 10px;
     }
}


@media (min-width: 992px) {
    .xs-searchbox{
        display: none;
    }

    .lg-searchbox{
        display: block;
    }

    .nav-container {
        justify-content:flex-start;
    }

    .nav-item{
        font-size: 1.25em;
        margin: 0 15px;
    
        span{
            font-size: .85em;
        }
    }
    
    .placeholder-searchbox {
       margin: 20px 5px;
    }
    
    .search-textbox {
         padding: 8px 40px 8px 8px;
        font-size: 1.125em;
          
    }
    
    .logo{
       height: 30px;
       margin: 26px 0;
       float: right;
    }

    .srch-icon{ 
        top:8px;
        padding: 4px 12px;  
    }
}

@media (min-width: 1200px) {
    .xs-searchbox{
        display: none;
    }

    .lg-searchbox{
        display: block;
    }

    .nav-item{
        font-size: 1.5em;
        margin: 0 20px;
    
        span{
            font-size: .85em;
        }
    }
    
    .placeholder-searchbox {
       margin: 20px;
    }
    
    .search-textbox {
        padding: 12px 40px 12px 8px;
        font-size: 1.25em;
    }
    
    .logo{
        height:40px;
        margin: 22px 0;

    }

    .srch-icon{ 
        top:10px;
        padding: 6px 14px;  
        font-size:large;
    }
}

 
@media (min-width: 1600px) {
    .xs-searchbox{
        display: none;
    }

    .lg-searchbox{
        display: block;
    }

    .nav-item{
        font-size: 1.5em;
        margin: 0 20px;
    
        span{
            font-size: .85em;
        }
    }
    
    .placeholder-searchbox {
       margin: 20px;
    }
    
    .search-textbox {
        padding: 12px 40px 12px 8px;
        font-size: 1.5em;
    }
    
    .logo{
        height:50px;
        margin: 20px 0;

    }

    .srch-icon{ 
        top:12px;
        padding: 6px 16px;  
    }
}

