
.header-container{
   //justify-content: center;
    text-align: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    min-height:100%;
}

.nav-item{

    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: $header-font-color;
    margin: 0 20px;

    &:hover{
        color: $header-hover-color;
        span {color: $header-hover-color;}
    }

    span{
        font-size: .85em;
        color: $header-font-color;
        margin-left: 5px;
    }
}

.placeholder-searchbox {
    position: relative;
    margin: 20px;
}

.search-textbox {
    position: relative;
    padding: 12px 40px 12px 8px;
    border: solid 1px #BBBBBB;
    border-radius: 10px;
    font-size: 1.25em;
    width: 100%;

    &:focus{
        box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
       outline: 0;
    }
}

.logo{
    margin: 0;
    border: 0;
    width :auto;
    height:50px;
    float: right;
    margin: 20px 0;
}

.xs-searchbox{
    display: block;
}

.lg-searchbox{
    display: none;
}

.search-bar{
    position: relative;
}

.srch-icon{ 
    position: absolute;
    right: 0;
    top:10px;
    padding: 6px 12px;
    color:#BBBBBB;    
}

@media (min-width: 576px) {
    .xs-searchbox{
        display: relative;
    }

    .lg-searchbox{
        display: none;
    }
}


@media (min-width: 768px) {
    .xs-searchbox{
        display: relative;
    }

    .lg-searchbox{
        display: none;
    }
}


@media (min-width: 992px) {
    .xs-searchbox{
        display: none;
    }

    .lg-searchbox{
        display: block;
    }
}

@media (min-width: 1200px) {
    .xs-searchbox{
        display: none;
    }

    .lg-searchbox{
        display: block;
    }
}

 

