$primary-title-color:#4285F4;
$secondry-title-color:#999999;
$tertiary-title-color:#99CAFF;

$category-title-hover:#0055dd;

 
$primary-font-color:#6D6D6D;
$secondry-font-color:#999999;
$tertiary-font-color:#8A8A8A;  

$header-font-color:#6D6D6D;
$header-hover-color:#333333;
$primary-link-color:#4285F4;
$secondry-link-color:#6D6D6D;

$primary-btn-color:#4285F4;
$review-bg-color:#f4f4f4;

$footer-bg-color: #F5F5F5;
$footer-link-color:#6D6D6D;
$footer-copyright-color:#A4A4A4;
$footer-socials-color:#A4A4A4;
$footer-title-color:#CCCCCC;
$footer-topborder-color:#dadada;
 

$cta-title-color:#FF006A;
$cta-font-color: #999999;
$cta-btn-color:#FBD7E6;

$ratings-color:#F4C20D;
$borders-color:#CECECE;

$facebook-color:#3B5998;
$instagram-color:#FB3958;

$images-border-color:#CECECE;


$font-sans:'Open Sans', sans-serif;;
$font-roboto:'Roboto', Arial, Helvetica, sans-serif;