@import "_variables.scss";
@import "_header.scss";
@import "_categories.scss";
@import "_listing.scss";
@import "_cta.scss";
@import "_store.scss";
@import "_reviews.scss";
@import "_forms.scss";
@import "_footer.scss";

  
/* -- imports google fonts -- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&display=swap');


html {
  scroll-behavior: smooth;
}

body{
 padding: 0;
  margin: 0;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}